@font-face {
    font-family: Font1;
    src: url(./Fonts/Halimun.ttf);
}

@font-face {
    font-family: Font2;
    src: url(./Fonts/NeueMachina.otf);
}

@font-face {
    font-family: Font3;
    src: url(./Fonts/Greek-Freak.ttf);
}

@font-face {
    font-family: Font4;
    src: url(./Fonts/PublicaPlay.otf);
}

@font-face {
    font-family: Font5;
    src: url(./Fonts/space\ age.ttf);
}

@font-face {
    font-family: Font6;
    src: url(./Fonts/natumemozi.ttf);
}

